<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="8.6"/>
    <arg name="y_pos" default="2.15"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="Z_pos" default="-1.57"/>
    <arg name="use_navigation" default="true"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find project_description)/urdf/robutler.urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find project_bringup)/config/rviz.rviz"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robutler -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) 
    -Y $(arg Z_pos) -param robot_description" />

    <group if="$(arg use_navigation)">
        <include file="$(find project_navigation)/launch/localization.launch">
        </include>
        <include file="$(find project_navigation)/launch/navigation.launch">
        </include>
        <!-- <include file="$(find project_bringup)/launch/gazebo.launch">
        </include> -->
    </group>
</launch>
